.contatos {
    background-color: blueviolet;
    text-align: center;
}
.cont1 {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100px;
    height: 100px;
    
}
nav {
    text-align: center;
    background-color:aqua;
    font-family: Arial, Helvetica, sans-serif;
    
}