.titulo {
    text-align: center;
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
.cont1 {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100px;
    height: 100px;
    
}
nav {
    text-align: center;
    background-color:aqua;
    font-family: Arial, Helvetica, sans-serif;
    
}
p {
    font-family: cursive;
    
}
.img{
    width: 500px;
    height: 300px;
    margin-left: 610px ;
}
body {
    background-color:aqua;
}