.noticias {
    background-color: blueviolet;
    text-align: center;
    
}
.cont1 {
    border: 1px solid black;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-top: 100px;
    height: 100px;
    text-align:center;
    background-color:blueviolet ;
}
nav {
    text-align: center;
    background-color:aqua;
    font-family: Arial, Helvetica, sans-serif;
    
}
.text {
    border: 1px solid black;
}
.text2 {
    margin-top: 10px;
    border: 1px solid black;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: aqua;
}